/* Main Page */
.loading__img {
   width: 20vw;
   height: 20vw;
   background-color: #242424;
}
.loading__message {
   font-size: 3vw;
}
.error__message {
   font-size: 2.5vw;
   color: red;
}
.countries__header {
   font-size: 4vw;
   color: chartreuse;
   margin-top: 0;
}
.countries__list {
   margin: 0;
   padding: 0;
   columns: 2;
   -webkit-columns: 2;
   -moz-columns: 2;
}
.countries__item {
   width: 30vw;
   display: flex;
   flex-direction: row;
   gap: 1vw;
   margin-bottom: 15px;
   -webkit-animation: fade-in-fwd 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-fwd 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.item__img {
   width: 8vw;
   height: 5vw;
}
.item__name {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
/* Country Page */
.country {
   padding: 10px 20px;
}
.country__img {
   width: 20vw;
   height: 12vw;
   -webkit-animation: tilt-in-left-1 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: tilt-in-left-1 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.country__header {
   margin: 0.5vw;
   font-size: 5vw;
   color: aqua;
}
.country__flagAlt {
   font-size: 2.7vw;
   width: 80vw;
}
.country__list{
   display: flex;
   flex-direction: column;
   gap: 1.5vw;
   font-size: 3vw;
}
.country__item::marker {
   color: aquamarine;
}
.button {
   outline: none;
   border: none;
}
.button:hover {
   color: whitesmoke;
   background-color: #0000;
   border: 4px solid aquamarine;
}
.button:active {
   outline: none;
   border: none;
   color: aquamarine;
   background-color: #0000;
   border: 4px solid aquamarine;
}

@-webkit-keyframes fade-in-fwd {
   0% {
     -webkit-transform: translateZ(-80px);
             transform: translateZ(-80px);
     opacity: 0;
   }
   100% {
     -webkit-transform: translateZ(0);
             transform: translateZ(0);
     opacity: 1;
   }
 }
 @keyframes fade-in-fwd {
   0% {
     -webkit-transform: translateZ(-80px);
             transform: translateZ(-80px);
     opacity: 0;
   }
   100% {
     -webkit-transform: translateZ(0);
             transform: translateZ(0);
     opacity: 1;
   }
 }
 
 @-webkit-keyframes tilt-in-left-1 {
   0% {
     -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
             transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
     opacity: 0;
   }
   100% {
     -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
             transform: rotateX(0deg) translateX(0) skewX(0deg);
     opacity: 1;
   }
 }
 @keyframes tilt-in-left-1 {
   0% {
     -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
             transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
     opacity: 0;
   }
   100% {
     -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
             transform: rotateX(0deg) translateX(0) skewX(0deg);
     opacity: 1;
   }
 }
 