.countries__header {
   color: chartreuse;
}
.countries__list {
   columns: 2;
   -webkit-columns: 2;
   -moz-columns: 2;
}
.countries__item {
   display: flex;
   flex-direction: row;
   gap: 25px;
   margin-bottom: 15px;
}
.item__img {
   width: 5vw;
   height: 5vh;
}