.HeaderBox {
   margin: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 20px;
   width: 100%
}
.HeaderBox__img {
   width: 8vw;
   height: 8vw;
}
.HeaderBox__header{
   font-size: 6vw;
   color:rgb(62, 176, 233);
}